.astroprisma.sheet.actor .astro-header {
  margin-top: 20px;
  margin-bottom: 20px;
}
.astroprisma.sheet.actor .astro-header .values {
  display: flex;
  gap: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.astroprisma.sheet.actor .astro-header .values .values-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.astroprisma.sheet.actor .astro-header .values .values-div h1,
.astroprisma.sheet.actor .astro-header .values .values-div h2,
.astroprisma.sheet.actor .astro-header .values .values-div h3 {
  border-bottom: none;
  margin: 0;
}
.astroprisma.sheet.actor .astro-header .values .values-div .values-div-input {
  width: 3ch;
  border: none;
  text-align: center;
  background: rgba(130, 130, 130, 0.15);
}
.astroprisma.sheet.actor .astro-header .values .values-div .values-div-input:focus {
  box-shadow: 0 0 5px #f13d58;
}
.astroprisma.sheet.actor .astro-header .values .values-div > h2 {
  font-weight: bold;
}
.astroprisma.sheet.actor .astro-header .values .values-div > h2.lighter {
  font-weight: lighter;
}
.astroprisma.sheet.actor .astro-header .hyperserum {
  margin-bottom: 10px;
  gap: 10px;
}
.astroprisma.sheet.actor .astro-header .hyperserum .hyperserum-hyperdrive {
  display: flex;
  gap: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}
.astroprisma.sheet.actor .astro-header .hyperserum .hyperserum-hyperdrive h1,
.astroprisma.sheet.actor .astro-header .hyperserum .hyperserum-hyperdrive h2,
.astroprisma.sheet.actor .astro-header .hyperserum .hyperserum-hyperdrive h3 {
  border-bottom: none;
  margin: 0;
}
.astroprisma.sheet.actor .astro-header .hyperserum .hyperserum-hyperdrive > h2 {
  font-weight: bold;
}
.astroprisma.sheet.actor .astro-header .hyperserum .hyperserum-serum {
  display: flex;
  gap: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}
.astroprisma.sheet.actor .astro-header .hyperserum .hyperserum-serum h1,
.astroprisma.sheet.actor .astro-header .hyperserum .hyperserum-serum h2,
.astroprisma.sheet.actor .astro-header .hyperserum .hyperserum-serum h3 {
  border-bottom: none;
  margin: 0;
}
.astroprisma.sheet.actor .astro-header .hyperserum .hyperserum-serum .hyperserum-serum-input {
  width: 10ch;
  border: none;
  text-align: center;
  background: rgba(130, 130, 130, 0.15);
}
.astroprisma.sheet.actor .astro-header .hyperserum .hyperserum-serum .hyperserum-serum-input:focus {
  box-shadow: 0 0 5px #f13d58;
}
.astroprisma.sheet.actor .astro-header .hyperserum .hyperserum-serum > h2 {
  font-weight: bold;
}
.astroprisma.sheet.actor .astro-header .favor {
  display: flex;
  gap: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.astroprisma.sheet.actor .astro-header .favor .favor-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.astroprisma.sheet.actor .astro-header .favor .favor-div h2,
.astroprisma.sheet.actor .astro-header .favor .favor-div h3 {
  border-bottom: none;
  margin: 0;
}
.astroprisma.sheet.actor .astro-header .favor .favor-div .favor-div-input {
  width: 5ch;
  border: none;
  text-align: center;
  background: rgba(130, 130, 130, 0.15);
}
.astroprisma.sheet.actor .astro-header .favor .favor-div .favor-div-input:focus {
  box-shadow: 0 0 5px #f13d58;
}
.astroprisma.sheet.actor .astro-header .favor .favor-div > h3 {
  padding-top: 5px;
}
.astroprisma.sheet.item form {
  display: flex;
  flex-direction: column;
}
.astroprisma.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.astroprisma.sheet.item .sheet-content .editor {
  height: 100%;
}
