.astroprisma.sheet.actor {
	.astro-header {
		display: grid;
		grid-template-columns: 1fr 2fr 2fr;
		gap: 10px;
		margin-top: 10px;
		.char-img {
			height: 140px;
			width: 120px;
			object-fit: cover;
			border-radius: 3px;
		}
		.char-data {
			display: flex;
			flex-direction: column;
			gap: 20px;
			align-self: center;
			padding-top: 10px;
			padding-bottom: 10px;
			.char-data-name {
				border: none;
				text-align: center;
				background: rgba(130, 130, 130, 0.15);
				height: 50px;
				
			}
			.char-data-origin {
				border: none;
				text-align: center;
				background: rgba(130, 130, 130, 0.15);
				height: 50px;
			}
			h1 {
				border-bottom: none;
				margin: 0;
				
			}
		}
		.hyperserum {
			gap: 10px;
			.hyperserum-hyperdrive {
				display: flex;
				gap: 10px;
				color: black;
				border: 1px solid black;
				border-radius: 3px;
				padding: 10px;
				text-transform: uppercase;
				align-items: center;
				justify-content: center;
				h1,
				h2,
				h3 {
					border-bottom: none;
					margin: 0;
				}
			}
			.hyperserum-hyperdrive > h2 {
				font-weight: bold;
			}
			.hyperserum-serum {
				display: flex;
				gap: 20px;
				color: black;
				border: 1px solid black;
				border-radius: 3px;
				padding: 10px;
				text-transform: uppercase;
				align-items: center;
				justify-content: center;
				h1,
				h2,
				h3 {
					border-bottom: none;
					margin: 0;
				}
				.hyperserum-serum-input {
					width: 10ch;
					border: none;
					text-align: center;
					background: rgba(130, 130, 130, 0.15);
				}

				.hyperserum-serum-input:focus {
					box-shadow: 0 0 5px #f13d58;
					border: 1px solid #f13d58;
				}
			}
			.hyperserum-serum > h2 {
				font-weight: bold;
			}
		}
	}
	.astro-section {
		margin-top: 20px;
		margin-bottom: 20px;
		.values {
			display: flex;
			gap: 20px;
			color: black;
			border: 1px solid black;
			border-radius: 3px;
			padding: 10px;
			text-transform: uppercase;
			margin-bottom: 10px;
			.values-div {
				display: flex;
				flex-direction: column;
				align-items: center;
				h1,
				h2,
				h3 {
					border-bottom: none;
					margin: 0;
				}
				.values-div-input {
					width: 3ch;
					border: none;
					text-align: center;
					background: rgba(130, 130, 130, 0.15);
				}
				.values-div-input:focus {
					box-shadow: 0 0 5px #f13d58;
					border: 1px solid #f13d58;
				}
				.input-readonly {
					-webkit-user-select: none;
					user-select: none;
					cursor: default;
					opacity: 80%;
				}
				.input-readonly:focus {
					box-shadow: none;
					border: none;
				}
			}
			.values-div > h2 {
				font-weight: bold;
			}
			.values-div > h2.lighter {
				font-weight: lighter;
			}
		}
		.favor {
			display: flex;
			gap: 20px;
			color: black;
			border: 1px solid black;
			border-radius: 3px;
			padding: 10px;
			text-transform: uppercase;
			margin-bottom: 10px;
			.favor-div {
				display: flex;
				flex-direction: column;
				align-items: center;
				h2,
				h3 {
					border-bottom: none;
					margin: 0;
				}
				.favor-div-input {
					width: 5ch;
					border: none;
					text-align: center;
					background: rgba(130, 130, 130, 0.15);
				}
				.favor-div-input:focus {
					box-shadow: 0 0 5px #f13d58;
					border: 1px solid #f13d58;
				}
			}
			.favor-div > h3 {
				padding-top: 5px;
			}
		}
	}
	.astro-sidebar {
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 20px;
		.attributes {
			flex-direction: column;

			gap: 10px;
			color: white;
			text-transform: uppercase;

			.attribute-div {
				display: flex;
				color: black;
				gap: 10px;
				background-color: black;
				border-radius: 5px;
				padding: 10px;
				text-transform: uppercase;
				align-items: center;
				justify-content: center;
				place-content: space-around;
				h1,
				h2,
				h3 {
					border-bottom: none;
					margin: 0;
				}
				.attribute-div-label {
					background-color: white;
					width: 8ch;
					padding: 5px;
					border-radius: 10px 0px 15px 0px;
					font-weight: bold;
					text-align: center;
				}
				.attribute-div-label:hover {
					background-color: #f13d58;
					cursor: pointer;
				}
				.attribute-div-input {
					width: 3ch;
					padding: 5px;
					border: none;
					text-align: center;
					background: rgba(255, 255, 255, 1);
				}
				.attribute-div-input:focus {
					box-shadow: 0 0 5px #f13d58;
					border: 1px solid #f13d58;
				}
			}
		}

		.tabs {
			display: grid;
			grid-template-rows: 1fr 6fr;
			grid-template-columns: 1fr;
			border: 1px solid black;
			border-radius: 3px;
			font-size: 12px;
			.tab-nav {
				display: flex;
				flex-direction: row;
				padding: 10px;

				gap: 20px;
				background-color: black;
				color: white;
				text-transform: uppercase;
			}
			.items-list {
				.invisible {
					display: none;
				}
			}
		}
	}
	.astro-footer {
		border: 1px solid black;
		border-radius: 3px;
		height: 100px;
	}
}
