<section class="quest-item-section">
<div class='flexrow items-header'>
		<h3>Quest Items</h3>
		<h3 class='item-name'>Name</h3>
		<h3>Price</h3>
		<span></span>
		<span></span>
	</div>
	<ol class='items-list'>
		{{> 'systems/astroprisma/templates/actor/part/character/tab/tab-inventory-quest-item.hbs'}}
	</ol>
</section>
<section class="consumable-section">
	<div class='flexrow items-header'>
		<h3>Consumable</h3>
		<h3 class='item-name'>Name</h3>
		<h3 class='item-formula'>Type</h3>
		<h3>Price</h3>
		<h3 class='item-controls'>
			<a class='item-control item-create' title='{{localize "ASTRO.actor.itemOption.newWeapon"}}' data-type='consumable'
			data-name='New Item'>
				<i class='fas fa-plus'></i>
			</a>
		</h3>
	</div>
	<ol class='items-list'>
		{{> 'systems/astroprisma/templates/actor/part/character/tab/tab-inventory-consumable.hbs'}}
	</ol>
</section>
<section class="grenade-section">
<div class='flexrow items-header'>
		<h3>Grenades</h3>
		<h3 class='item-name'>Name</h3>
		<h3 class='item-formula'>Type</h3>
		<h3>Price</h3>
		<h3 class='item-controls'>
			<a class='item-control item-create' title='{{localize "ASTRO.actor.itemOption.newWeapon"}}' data-type='grenade'
			data-name='New Item'>
				<i class='fas fa-plus'></i>
			</a>
		</h3>
	</div>
	<ol class='items-list'>
		{{> 'systems/astroprisma/templates/actor/part/character/tab/tab-inventory-grenade.hbs'}}
	</ol>
</section>
<section class="drone-section">
<div class='flexrow items-header'>
		<h3>Drone</h3>
		<h3 class='item-name'>Name</h3>
		<h3 class='item-formula'>Type</h3>
		<h3>Price</h3>
		<span></span>
	</div>
	<ol class='items-list'>
		{{> 'systems/astroprisma/templates/actor/part/character/tab/tab-inventory-drone.hbs'}}
	</ol>
</section>
<section class="armor-section">
<div class='flexrow items-header'>
		<h3>Armor</h3>
		<h3 class='item-name'>Name</h3>
		<h3 class='item-formula'>Type</h3>
		<h3>Price</h3>
		<span></span>
	</div>
	<ol class='items-list'>
		{{> 'systems/astroprisma/templates/actor/part/character/tab/tab-inventory-armor.hbs'}}
	</ol>
</section>
<section class="mod-section">
<div class='flexrow items-header'>
		<h3>Mods</h3>
		<h3 class='item-name'>Name</h3>
		<h3 class='item-formula'>Type</h3>
		<h3>Price</h3>
		<h3 class='item-controls'>
			<a class='item-control item-create' title='{{localize "ASTRO.actor.itemOption.newWeapon"}}' data-type='mod'
			data-name='New Item'>
				<i class='fas fa-plus'></i>
			</a>
		</h3>
	</div>
	<ol class='items-list'>
		{{> 'systems/astroprisma/templates/actor/part/character/tab/tab-inventory-mod.hbs'}}
	</ol>
</section>