<section class="quest-item-section inventory-section">
<div class='flexrow items-header'>
		<h4>Quest Items</h4>
		<h4 class='item-name'>Name</h4>
		<span></span>
		<h4>Price</h4>
		<h4>0/0</h4>
	</div>
	<ol class='items-list'>
		{{> 'systems/astroprisma/templates/actor/part/character/tab/tab-inventory-quest-item.hbs'}}
	</ol>
</section>
<section class="consumable-section inventory-section">
	<div class='flexrow items-header'>
		<h4>Consumable</h4>
		<h4 class='item-name'>Name</h4>
		<h4 class='item-formula'>Type</h4>
		<h4>Price</h4>
		<h4>0/0</h4>
	</div>
	<ol class='items-list'>
		{{> 'systems/astroprisma/templates/actor/part/character/tab/tab-inventory-consumable.hbs'}}
	</ol>
</section>
<section class="grenade-section inventory-section">
<div class='flexrow items-header'>
		<h4>Grenades</h4>
		<h4 class='item-name'>Name</h4>
		<h4 class='item-formula'>Type</h4>
		<h4>Price</h4>
		<h4>0/0</h4>
	</div>
	<ol class='items-list'>
		{{> 'systems/astroprisma/templates/actor/part/character/tab/tab-inventory-grenade.hbs'}}
	</ol>
</section>
<section class="drone-section inventory-section">
<div class='flexrow items-header'>
		<h4>Drone</h4>
		<h4 class='item-name'>Name</h4>
		<h4 class='item-formula'>Type</h4>
		<h4>Price</h4>
		<h4>0/0</h4>
	</div>
	<ol class='items-list'>
		{{> 'systems/astroprisma/templates/actor/part/character/tab/tab-inventory-drone.hbs'}}
	</ol>
</section>
<section class="armor-section inventory-section">
<div class='flexrow items-header'>
		<h4>Armor</h4>
		<h4 class='item-name'>Name</h4>
		<h4 class='item-formula'>Type</h4>
		<h4>Price</h4>
		<h4>0/0</h4>
	</div>
	<ol class='items-list'>
		{{> 'systems/astroprisma/templates/actor/part/character/tab/tab-inventory-armor.hbs'}}
	</ol>
</section>
<section class="mod-section inventory-section">
<div class='flexrow items-header'>
		<h4>Mods</h4>
		<h4 class='item-name'>Name</h4>
		<h4 class='item-formula'>Type</h4>
		<h4>Price</h4>
		<h4>0/0</h4>
	</div>
	<ol class='items-list'>
		{{> 'systems/astroprisma/templates/actor/part/character/tab/tab-inventory-mod.hbs'}}
	</ol>
</section>